$primary: #090b33;

%flex {
  display: flex;
}
%flex-col {
  @extend %flex;
  flex-direction: column;
}
* {
  font-family: roboto;
}
.icon {
  width: 1.2rem;
  height: 1.2rem;
  margin: 0;
}
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  * {
    margin: 10px 5px;
    color: $primary;
  }
  background-color: #eceff6;
}

.maincontainer {
  margin: 0;
  padding: 0;
}

.header {
  margin: 0 0 10px 0;
  background-color: $primary;
  padding: 10px 5px;
  * {
    color: whitesmoke;
  }
}

.resultContainer {
  @extend %flex-col;
  align-items: center;
  #answer {
    color: $primary;
  }
}

.inputContainer {
  @extend %flex-col;
  margin: 5px 10px;
  background-color: #fefefe;
  padding: 15px 0;
  border-radius: 10px;
  .inputarea {
    @extend %flex-col;
    position: relative;
    margin: 0;
    .head {
      color: $primary;
    }
    .inputgroup {
      @extend %flex;
      input,
      select {
        font-size: 1.2rem;
        margin: 0;
      }
      input {
        width: 100%;
        &:disabled {
          flex-grow: 0;
          width: 2rem;
          background-color: white;
          border-width: 2px 0;
          border-color: -internal-light-dark(
            rgb(118, 118, 118),
            rgb(133, 133, 133)
          );
          border-image: initial;
          border-style: inset;
          &::placeholder {
            color: black;
          }
        }
      }
    }
  }
  .buttonarea {
    @extend %flex;
    justify-content: center;
    button {
      font-size: 1.1rem;
      color: #eeeeee;
      background-color: $primary;
      border-radius: 10px;
      padding: 0.8rem 1rem;
      outline: none;
      border: none;
      transition: all 100ms;
      &:hover {
        background-color: white;
        color: $primary;
        border: solid 1px $primary;
      }
    }
  }
}

.tableContainer {
  .items {
    margin: 20px 0;
  }
}

.footer {
  margin: 15px 0 0 0;
  background-color: $primary;
  padding: 10px 5px;
  color: whitesmoke;
  * {
    color: inherit;
  }
}

@media screen and (min-width: 600px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .mainContainer {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto;
    grid-template-areas: "input result";
    align-items: center;
    .resultContainer {
      display: none;
    }
    .inputContainer {
      grid-area: input;
    }
    .tableContainer {
      grid-area: result;
    }
  }
}
